
:root{
    --rosadito:#F7C8E0;
    --verde-celeste:#DFFFD8;
    --celeste:#B4E4FF;
    --azul: #95BDFF
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
}
header img{
    width: 3rem;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-left: 1rem;
    
}
.nav-bar a{
    background-color: var(--rosadito);
    border-radius: 1rem;
    padding: 0 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

main{
    background-color: var(--verde-celeste);
    min-height: 90vh;
}

.contenedor-titulosubtitulo{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 2rem;
}

.foto1{
    margin-top: 2rem;
    width: 100%;
    object-fit: cover;
    height: 40vh;
    border-radius: 1rem;
}

.parrafo-imagen{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.dos_helados {
    border-radius: 1rem;
}
.parrafo-imagen>p{
    width: 15rem;
    background-color: var(--rosadito);
    border-radius: 1rem;
    
}

.parrafo-imagen>img{
    width: 15rem;
    padding-bottom: 4rem;
}

.subrayado{
    text-decoration: underline;
}

.helado-parrafo{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
    
}
.helado-parrafo>img{
    width: 15rem;
    border-radius: 1rem;
}
.helado-parrafo>p{
    padding: 4rem;
    width: 15rem;
    background-color:var(--rosadito);
    border-radius: 1rem;
}

.helado-parrafo>ol{
    width: 16rem;
    background-color: #F7C8E0;
    list-style-position:inside;
    border-radius: 0.5rem;
}

.bombon{
    height: 15rem;
}
.helados{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.helados-muestra{
   
    width: 40rem;
    border-radius: 1rem;
    
}
.order{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.parrafo{
    padding-top: 2rem;
}

.mail-phono{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 1.2rem;
}

.mail-phono>p{
    background-color: var(--rosadito);
    width: 17rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 1rem;
}
.main-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.table{
    width: 30rem;
    height: 25rem;
    text-align: center;
    padding-top: 3rem;
    border-collapse: collapse;
    
}

thead, tbody, tr, td, th{
    border:solid 1px black;
    background-color: #F7C8E0;

}

ul>li{
    padding-left: 2rem;
}
.raffle{
    width: 40rem;
}
.map-form{
    display: flex;
    justify-content: space-evenly;
    
}
.mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    


}
.mapa iframe{
    width: 20rem;
    height: 20rem;
}

.formulario{
    width: 25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
 

}

.formu{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}



input, select, textarea{
    background-color: #F7C8E0;
}

.payment-option{
    display: flex;
}


.term-conditions{
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
}

.send{
    height: 1.5rem;
    width: 3rem;
}
footer{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--celeste);
}

@media (max-width: 1023px) and (min-width: 768px){
    header{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .nav-bar{
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-bottom: 1rem;
    }

    .parrafo-imagen{
        flex-direction: column-reverse;
        padding-bottom: 2rem;
    }

    .helado-parrafo{
        flex-direction: column;
    }

    .helado-parrafo p{
        margin-top: 1rem;
    }

    .mail-phono{
        flex-direction: column;
        justify-content: flex-start;
    }

    .main-table{
        padding-bottom: 3rem;
    }

    .helado-parrafo ol{
        margin-top: 1rem;
    }

    .map-form{
        flex-direction: column-reverse;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .mapa{
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 2rem 0;
    }
}


@media (max-width: 767px) and (min-width: 320px){
    header{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .nav-bar{
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-bottom: 1rem;
    }

    .parrafo-imagen{
        flex-direction: column-reverse;
        padding-bottom: 2rem;
    }

    .helado-parrafo{
        flex-direction: column;
    }

    .helado-parrafo p{
        margin-top: 1rem;
    }

    .mail-phono{
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1rem;
    }

    .order img{
        width: 15rem;
    }
    .order p{
        font-size: 1rem;
    }

    .main-table{
        padding-bottom: 3rem;
        
    }

    .table{
        width: 17rem;
    }

    .contenedor-titulosubtitulo h3{
        text-align: center;
    }
    .helado-parrafo ol{
        margin-top: 1rem;
    }

    .map-form{
        flex-direction: column-reverse;
        padding-bottom: 3rem;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 15rem;
    }

    .mapa{
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 2rem;
        
    }

    .raffle{
        width: 15rem;
    }

    .term-conditions label{
        padding-left: 1rem;
    }

    
}
